h1 {
  display: inline;
  font-size: 40px;
  color: #fff;
  line-height: 44px;
  padding-left: 40px;
  color: gold;
}

h2 {
  margin: 0px auto 20px;
  font-size: 32px;
  padding: 20px;
  line-height: 40px;
  text-align: center;
}

.btn-create {
  position: absolute;
  top: 7px;
  right: 10px;
  display: inline-block;
  height: 24px;
  line-height: 24px;
  padding: 0 10px;
  border-style: none;
  border-radius: 2px;
  cursor: pointer;
  font-size: 13px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: black;
  background-color: gold;
  transition: 0.3s background-color;
  &:hover {
    text-decoration: none;
    background-color: white;
  }
}

.big-btn-create {
  position: relative;
  width: 160px;
  height: 50px;
  font-size: 18px;
}

main {
  display: block;
  .about {
    display: flex;
    align-items: center;
    margin: 0 auto;
    background-color: #0a1b3a;
    padding: 40px;
    .about-text {
      align-items: center;
      font-size: 24px;
      color: #fff;
      padding-left: 40px;
      line-height: 44px;
      min-width: 300px;
      a {
        font-size: 24px;
        color: #fff;
        line-height: 44px;
        text-decoration: none;
      }
      .span-create {
        display: block;
        font-size: 24px;
        color: #fff;
        margin-bottom: 20px;
      }
    }
    .screenshot {
      display: block;
      max-width: 640px;
      max-height: 480px;
      width: auto;
      height: auto;
      padding: 40px;
    }
  }
}

.examples {
  width: 100%;
  line-height: 36px;
  background-color: #101621;
  border-bottom: 1px solid #1a1a1a;
  .sprites {
    display: flex;
    width: 1100px;
    margin: 0 auto;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 20px;
    .sprite {
      height: 180px;
      outline: 3px solid #c0c0c0;
      outline-offset: 5px;
      transition: 1.5s;
      margin-bottom: 20px;
    }
  }
}

.overview {
  background-color: #0a1b3a;;
  .functionality {
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 30px;
  }
  .card {
    margin-right: 15px;
    margin-bottom: 15px;
    border: 3px solid DarkSlateGray;
    border-radius: 5px;
    background: #0D1132;
    .functionality-image {
      width: 240px;
      height: 240px;
    }
    .functionality-description {
      display: flex;
      width: 240px;
      min-height: 38px;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 16px;
      justify-content: center;
      align-items: center;
      text-align: center;
      color: #fff;
      background-color: DarkSlateGray;
    }
  }
  .card-tools {
    background: url(../images/functionality/tools.png) 50% 50% no-repeat;
    background-size: auto 95%;
  }
  .card-frames {
    background: url(../images/functionality/frame-managment.png) 50% 50% no-repeat;
    background-size: auto 95%;
  }
  .card-preview {
    background: url(../images/functionality/animated-preview.png) 50% 50% no-repeat;
  }
  .card-gif {
    background: url(../images/functionality/export-gif.png) 50% 50% no-repeat;
  }
}

.landing-footer {
  display: flex;
  bottom: 0;
  height: 60px;
  padding: 0 20px;
  background-color: #1a1a1a;
  .footer-container {
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    a {
      color: #fff;
      line-height: 44px;
      text-decoration: none;
    }
  }
}


