* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

.header {
  width: 100%;
  height: 36px;
  line-height: 36px;
  background: #2D2D2D;
  border-bottom: 1px solid #1a1a1a; }

.content {
  margin-top: 20px; }

.drawing {
  border: 1px solid black;
  position: relative;
  width: 768px;
  height: 768px; }

#cursor {
  position: absolute;
  background-color: rgba(235, 220, 15, 0.3);
  z-index: -1; }

body {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: #525252;
  --highlight-color: gold;
  font-family: Arial;
  color: whitesmoke; }

.content {
  display: flex;
  flex: 1;
  overflow: hidden; }

.frame {
  margin: 5px;
  border: 2px solid black;
  width: 96px;
  height: 96px; }
  .frame.active {
    border-color: gold; }

.tools-wrapper {
  padding: 5px;
  margin: 5px; }

.tools-list {
  display: grid;
  grid-template: 1fr / 1fr;
  padding-left: 23px;
  grid-gap: 6px;
  margin-top: 17px; }
  .tools-list.active {
    border-color: gold; }

.tool {
  height: 46px;
  width: 46px;
  border: 2px solid black;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: #3a3a3a; }
  .tool.active-tool {
    border-color: gold; }

.pen {
  background-image: url(images/tool-pen3c2109edffbbfb3d978ee54de0c5ad41.png); }

.eraser {
  background-image: url(images/tool-eraser409cde9c0b76aefb54395dd3a6b62d9f.png); }

.bucket {
  background-image: url(images/tool-paint-bucket54a9e17400bb83eedeaedd945b82edea.png); }

.rectangle {
  background-image: url(images/tool-rectangle061fe0b2338f073a85315706524b4443.png); }

.circle {
  background-image: url(images/tool-circlea612e16ba433bd1cd283682c8e8bdc19.png); }

.pipette {
  background-image: url(images/tool-colorpicker839092635cca7d43955dba23ef41d4c4.png); }

.swap-colors {
  background-image: url(images/swapcolors-arrow-greya38cfec2d247f5eea7ec3c87177bc7b2.png);
  position: absolute;
  bottom: 0px;
  left: 6px;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  cursor: pointer; }
  .swap-colors:hover {
    transition: 0.2s ease all;
    transform: scale(1.1);
    cursor: pointer; }

.color-picker {
  width: 85px;
  height: 85px;
  position: relative;
  margin: 20px 0 0 10px;
  border-radius: 5px; }

.size-picker-container {
  overflow: hidden;
  padding: 5px 5px; }

.size-picker-option {
  float: left;
  box-sizing: border-box;
  width: 20px;
  height: 20px;
  margin-right: 2px;
  border-style: solid;
  border-width: 2px;
  border-color: #444;
  cursor: pointer; }
  .size-picker-option.active {
    border-color: gold; }

.size-picker-option[data-size='1'] {
  padding: 5px; }

.size-picker-option[data-size='2'] {
  padding: 4px; }

.size-picker-option[data-size='3'] {
  padding: 3px; }

.size-picker-option[data-size='4'] {
  padding: 2px; }

.size-picker-option:before {
  content: '';
  width: 100%;
  height: 100%;
  background-color: white;
  display: block;
  text-align: center;
  line-height: 12px;
  font-size: 90%; }

.add-frame-action {
  display: flex;
  align-items: center;
  margin-top: 8px;
  padding: 6px 0;
  overflow: hidden;
  width: 96px;
  border: #888 solid 3px;
  border-radius: 4px;
  color: #888;
  background-color: #222;
  font-size: 13px;
  cursor: pointer; }

.add-frame-action:hover {
  border-color: gold; }

.add-frame-action-icon {
  width: 26px;
  height: 26px;
  margin: 3px;
  float: left;
  flex-shrink: 0;
  background-image: url(images/frame-plus-white3f3b3b98b3014d7a6bf1e746ee89a827.png); }

.preview {
  height: 200px;
  width: 200px;
  border: 1px solid black;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent; }

.fps_range {
  -webkit-appearance: none;
  width: 85%;
  height: 8px;
  border-radius: 5px;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: all 0.2s ease;
  box-sizing: border-box; }

.right-column {
  margin-left: 20px; }

.frame_rate-wrapper {
  display: block;
  margin-top: 10px; }

.display-fps {
  min-width: 25px;
  float: left; }

.frames-wrapper {
  display: flex;
  flex-direction: column;
  max-height: 768px; }

.frames-scroller {
  width: 126px;
  height: 90%;
  overflow-y: scroll; }

.frames-scroller::-webkit-scrollbar-track {
  background-color: #555555;
  border-radius: 15px; }

.frames-scroller::-webkit-scrollbar {
  width: 10px;
  background-color: #555555;
  border-radius: 15px; }

.frames-scroller::-webkit-scrollbar-thumb {
  background-color: #222222;
  border: 2px solid #555555;
  border-radius: 15px; }

.settings {
  margin-top: 20px; }

.canvas-size {
  margin-top: 20px; }

.fullScreen {
  cursor: pointer;
  z-index: 100;
  width: 40px;
  height: 40px;
  background-image: url(images/full714b3a4884e0998adb3dcf8fcbfd0a84.png);
  background-size: contain; }
  .fullScreen:hover {
    position: relative;
    left: -4px;
    top: -4px;
    width: 48px;
    height: 48px; }

.color_picker-item {
  position: absolute;
  width: 48px;
  height: 48px;
  background-color: #444444;
  cursor: pointer; }

.main-color {
  top: 5px;
  left: 10px; }

.secondary-color {
  top: 35px;
  left: 35px; }

.frame-btn {
  background: transparent;
  border: none;
  height: 30px;
  width: 30px;
  z-index: 100; }
  .frame-btn:hover {
    transition: 0.2s ease all;
    transform: scale(1.1);
    cursor: pointer; }

.delete-btn {
  background-image: url(images/frame-recyclebin-white3df9cc8d20c13e950a101ef149bfdb5c.png);
  position: relative;
  left: 2px;
  bottom: 39px; }

.copy-btn {
  background-image: url(images/frame-duplicate-whitef314d7d6d5c02325eed305a5927f80d4.png);
  position: relative;
  left: 76px;
  bottom: 69px; }

.frame-wrapper {
  height: 108px; }

.cursor-info {
  margin-top: 20px; }

.saveButton {
  color: white;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  background: #1cb841;
  font-size: 85%;
  width: 200px;
  height: 30px;
  margin-top: 20px; }
  .saveButton:hover {
    background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.05) 40%, rgba(0, 0, 0, 0.1));
    cursor: pointer; }

.piskel-logo {
  height: 24px;
  margin-left: 20px;
  margin-top: 7px; }

h1 {
  display: inline;
  font-size: 40px;
  color: #fff;
  line-height: 44px;
  padding-left: 40px;
  color: gold; }

h2 {
  margin: 0px auto 20px;
  font-size: 32px;
  padding: 20px;
  line-height: 40px;
  text-align: center; }

.btn-create {
  position: absolute;
  top: 7px;
  right: 10px;
  display: inline-block;
  height: 24px;
  line-height: 24px;
  padding: 0 10px;
  border-style: none;
  border-radius: 2px;
  cursor: pointer;
  font-size: 13px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: black;
  background-color: gold;
  transition: 0.3s background-color; }
  .btn-create:hover {
    text-decoration: none;
    background-color: white; }

.big-btn-create {
  position: relative;
  width: 160px;
  height: 50px;
  font-size: 18px; }

main {
  display: block; }
  main .about {
    display: flex;
    align-items: center;
    margin: 0 auto;
    background-color: #0a1b3a;
    padding: 40px; }
    main .about .about-text {
      align-items: center;
      font-size: 24px;
      color: #fff;
      padding-left: 40px;
      line-height: 44px;
      min-width: 300px; }
      main .about .about-text a {
        font-size: 24px;
        color: #fff;
        line-height: 44px;
        text-decoration: none; }
      main .about .about-text .span-create {
        display: block;
        font-size: 24px;
        color: #fff;
        margin-bottom: 20px; }
    main .about .screenshot {
      display: block;
      max-width: 640px;
      max-height: 480px;
      width: auto;
      height: auto;
      padding: 40px; }

.examples {
  width: 100%;
  line-height: 36px;
  background-color: #101621;
  border-bottom: 1px solid #1a1a1a; }
  .examples .sprites {
    display: flex;
    width: 1100px;
    margin: 0 auto;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 20px; }
    .examples .sprites .sprite {
      height: 180px;
      outline: 3px solid #c0c0c0;
      outline-offset: 5px;
      transition: 1.5s;
      margin-bottom: 20px; }

.overview {
  background-color: #0a1b3a; }
  .overview .functionality {
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 30px; }
  .overview .card {
    margin-right: 15px;
    margin-bottom: 15px;
    border: 3px solid DarkSlateGray;
    border-radius: 5px;
    background: #0D1132; }
    .overview .card .functionality-image {
      width: 240px;
      height: 240px; }
    .overview .card .functionality-description {
      display: flex;
      width: 240px;
      min-height: 38px;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 16px;
      justify-content: center;
      align-items: center;
      text-align: center;
      color: #fff;
      background-color: DarkSlateGray; }
  .overview .card-tools {
    background: url(images/tools003cb20964e5e120218759d5f15ee64b.png) 50% 50% no-repeat;
    background-size: auto 95%; }
  .overview .card-frames {
    background: url(images/frame-managmentb6e4e14c0dad847e5450c16f81b13996.png) 50% 50% no-repeat;
    background-size: auto 95%; }
  .overview .card-preview {
    background: url(images/animated-preview942b64321711795bf71858a01858e748.png) 50% 50% no-repeat; }
  .overview .card-gif {
    background: url(images/export-gif848fb38e071b9af5fe3b25eff69ceafa.png) 50% 50% no-repeat; }

.landing-footer {
  display: flex;
  bottom: 0;
  height: 60px;
  padding: 0 20px;
  background-color: #1a1a1a; }
  .landing-footer .footer-container {
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: space-between;
    width: 100%; }
    .landing-footer .footer-container a {
      color: #fff;
      line-height: 44px;
      text-decoration: none; }

